<div class="app-demo-style">
  <h2>1. inline style</h2>
  <p>
    <span
        [style.color]="color">single style rule</span>
    <span
        [style.font-size]="fontSize"> large </span>
    <span
        [style.backgroundColor]="bgColor">bgColor</span>
  </p>
  <p
      [style]="styleString">style string</p>
  <p
      [style]="styleObject">style object</p>
  <h2>2. style with class</h2>
  <p class="error">error message</p>
  <p
      [class]="classString">class string</p>
  <p
      [class]="classList">class list</p>
  <p
      [class]="classObject">class object</p>
  <button class="btn btn-primary">Bootstrap</button>
</div>
